<h1>CurrentAttributes</h1>
<h2>Current is fiber-local, ThreadCurrent is thread-local</h2>

<dl>
  <dt>Current.random</dt>
  <dd><%= Current.random %></dd>
  <dt>Current.random called from inside an enumerator with <code>#next</code></dt>
  <dd><%= enumerator { Current.random }.next.inspect %></dd>
  <dt>Current.random called from inside an enumerator with <code>#first</code></dt>
  <dd><%= enumerator { Current.random }.first.inspect %></dd>
  <dt>Current.random called from inside an enumerator with <code>#each</code></dt>
  <% enumerator { Current.random }.each do |value| %>
    <dd><%= value.inspect %></dd>
  <% end %>
  <dt>ThreadCurrent.random</dt>
  <dd><%= ThreadCurrent.random %></dd>
  <dt>ThreadCurrent.random called from inside an enumerator with <code>#next</code></dt>
  <dd><%= enumerator { ThreadCurrent.random }.next.inspect %></dd>
</dl>
